{% extends 'base.html.twig' %}

{% block body %}
    <h1>Créer un nouveau Livre :</h1>

    {{ include('livre/_form.html.twig') }}

    <a href="{{ path('livre_index') }}" class="btn btn-dark text-white my-2">Retour à l'accueil</a>
{% endblock %}
